parameters:
    level: 6
    paths:
        - controllers
        - models
        - modules
    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php
    tmpDir: runtime/phpstan
    treatPhpDocTypesAsCertain: false